<header class="markdown-body">
  <h1>Notes</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="/angular" routerLinkActive="router-link-active">Angular</a></li>
      <li><a routerLink="/git" routerLinkActive="router-link-active">Git</a></li>
      <li><a routerLink="/css-flexbox" routerLinkActive="router-link-active">CSS Flexbox</a></li>
      <li><a routerLink="/vim" routerLinkActive="router-link-active">Vim</a></li>
      <li><a routerLink="/open-manifesto" routerLinkActive="router-link-active">Open Manifesto</a></li>
      <li><a routerLink="/books" routerLinkActive="router-link-active">Books</a></li>
    </ul>
  </nav>
</header>

<div class="markdown-body">
  <router-outlet></router-outlet>
</div>

<footer class="markdown-body">
  <p>footer</p>
  <p><a href="https://pablogarcia.dev/" target="_blank">PabloGarcia.dev</a></p>
</footer>
